@model EFDataApp.Models.VideoGame
@{
    ViewBag.Title = Model.Title;
}

<div>
    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>Разработчик</dt>
        <dd>
            @Html.DisplayFor(model => model.Develop)
        </dd>

        <dt>Жанр</dt>
        <dd>
            @Html.DisplayFor(model => model.Genres)
        </dd>
    </dl>
</div>